.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 15vh;

    .logo-container {

        display: flex;
        align-items: center;

        * {

            margin-right: 1vw;
        }
        img {

            height: 8vh;

            &:hover{

                animation: rotateIcon 1.5s ease-out forwards;
            }

            @keyframes rotateIcon {

                0% {
                    transform: rotate(0deg);
                    height: 8vh;
                }

                50% {
                    transform: rotate(360deg);
                    height: 8.5vh;
                }

                100% {
                    transform: rotate(360deg);
                    height: 8vh;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .main-header {
        flex-direction: column;

        .language-list {
            width: 100%;

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            padding: 0px 20vw;
            
            li {
                width: 100px;
                height: 50px;
                font-size: 16pt;

                display: flex;
                justify-content: center;
                align-items: center;
                
                background-color: #222;
                color: #fff;
                border-radius: 2px;
                transition: 0.4 ease-in-out;

                margin-left: 3vw;

                &:active {
                    background-color: #555;
                    transition: 0.4 ease-in-out;
                }
            }
        }
    }        
}

@media (max-width: 640px) {
    .main-header {
        height: 30vh;
        justify-content: center;

        .logo-container {

            flex-direction: column;
        }

        .language-list {
            justify-content: flex-start;
            padding: 0;
        }
    }
}