.user-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2vh 0px;

    --animate-duration: 0.2s;

    .user-interaction {
        display: flex;
        align-items: center;

        button {
            height: 50px;
            margin-right: 1vh;
        }

        ul:last-child {
            margin-bottom: 0;
        }
    }

    .form-container {

        width: 100%;
        height: 90vh;

        display: flex;
        justify-content: center;

        position: absolute;

        left: 0;
        top: 10vh;

        z-index: 9000;

        &.hidden {
            z-index: -9001;
        }

        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,0.3) 0%, rgba(32,45,58,0.3) 81.3% ); //https://cssgradient.io/gradient-backgrounds/

        .login-form {

            width: 40vw;
            height: fit-content;
            
            background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,0.9) 0%, rgba(32,45,58,0.9) 81.3% ); //https://cssgradient.io/gradient-backgrounds/

            margin-top: 8vh;
            padding: 2vh 2vw;
            border-radius: 3px;

            &.hidden {
                z-index: -9000;
            }

            input {
                height: 5vh;
                width: 100%;
                margin-bottom: 1vh;
                outline: none;
                border: none;
                border-bottom: 2px solid #a1a1a1;

                color: #fff;
                font-size: 2.3vh;

                background: none;
            }

            input::placeholder {
                color: #bbb;
            }
        }
    }

    @media (max-width: 1024px) {
        .user-interaction {
            
            // width: 40vw;

            display: flex;
            flex-direction: column;

            .header-button {
                margin-right: 0;
            }
            
            ul {
                
                width: 100%;

                display: flex;
                justify-content: space-around;

                margin-top: 2vh;
            }
        }
    }

    @media (max-width: 640px) {
        height: auto;

        flex-direction: column;
        /* justify-content: space-around; */

        h1 {
            word-break: break-all;
        }

        .user-interaction {
   
            .header-button {
                margin-top: 1vh;
                width: 94vw !important;
                margin: 2.2vh 0vw;
            }

            ul {

                li {
                    width: 100px;
                    height: 50px;
                    font-size: 16pt;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    background-color: #222;
                    color: #fff;
                    border-radius: 2px;
                    transition: 0.4 ease-in-out;

                    margin-left: 3vw;
                }

                :first-child {
                    margin-left: 0;  
                }
            }
        }

        .login-form {
            position: initial;
            width: 40vw;
            background: #5a5a5a; 
        }
    }

    .fade-out {
        -webkit-animation: fade-out 0.2s ease-out both;
                animation: fade-out 0.2s ease-out both;
    }

    .fade-in {
        -webkit-animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    /* ----------------------------------------------
    * Generated by Animista on 2022-3-30 17:53:43
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
        * ----------------------------------------
        * animation fade-out
        * ----------------------------------------
        */
    
        
    @keyframes fade-out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}