* {
  margin: 0;
  padding: 0;

  font-family: "Be Vietnam Pro", sans-serif;

  box-sizing: border-box;
}

.page {

    height: 100vh;
    // width: 100vw;
    
    padding: 0px 3vw;
}

header {

  user-select: none;

    * h1, header h1 {

        font-size: 48pt;
    }

    * h2, header h2 {

        font-size: 29pt;
    }
}

a {

    color: rgb(44, 135, 255);
  
    &::visited {
  
        color: rgb(44, 135, 255);
    }
}

.title-one::selection, .title-two::selection, #rotatory-text-element::selection {

  background-color: #ffe83d;
  color: #000;
}

.main-page-button {

    // width: 986px;
    width: 100%
}

@mixin textsBreakpoints($fontSize, $sub_TitleTwo: 20pt, $sub_Li_Element: 32pt, $sub_titleThree: 25pt) {
    
    .title-one {
    
        font-size: $fontSize;
    }
    
    .title-two {
    
        font-size: calc($fontSize - $sub_TitleTwo);
    }

    .title-three {

        font-size: calc($fontSize - $sub_titleThree);
    }

    div.title-element {

        font-size: calc($fontSize - $sub_Li_Element);
    }
}

@media (min-width: 1800px) {

    $fontSize: 50pt;

    @include textsBreakpoints($fontSize, 20pt, 35pt);
}

@media (max-width: 1800px) {

    $fontSize: 45pt;

    @include textsBreakpoints($fontSize);
}

@media (max-width: 900px) {

    $fontSize: 40pt;
    $sub_TitleTwo: 10pt;
    $sub_Li_Element: 15pt;
    $sub_titleThree: 13pt;

    @include textsBreakpoints($fontSize, $sub_TitleTwo, $sub_Li_Element, $sub_titleThree);
}

@media (max-width: 640px) {

    $fontSize: 33pt;
    $sub_TitleTwo: 10pt;
    $sub_Li_Element: 15pt;
    $sub_titleThree: 13pt;

    @include textsBreakpoints($fontSize, $sub_TitleTwo, $sub_Li_Element, $sub_titleThree);
}