* {
  margin: 0;
  padding: 0;

  font-family: "Be Vietnam Pro", sans-serif;

  box-sizing: border-box;
}

.page {

    height: 100vh;
    // width: 100vw;
    
    padding: 0px 3vw;
}

header {

  user-select: none;

    * h1, header h1 {

        font-size: 48pt;
    }

    * h2, header h2 {

        font-size: 29pt;
    }
}

.title-one::selection, .title-two::selection, #rotatory-text-element::selection {

  background-color: #ffe83d;
  color: #000;
}

.main-page-button {

    // width: 986px;
    width: 100%
}

@mixin textsBreakpoints($fontSize, $subtractionTitleTwo: 20pt, $subtractionLiTitleElement: 30pt) {
    
    .title-one {
    
        font-size: $fontSize;
    }
    
    .title-two {
    
        font-size: calc($fontSize - $subtractionTitleTwo);
    }

    div.title-element {

        font-size: calc($fontSize - $subtractionLiTitleElement);
    }
}

@media (min-width: 1800px) {

    $fontSize: 50pt;

    @include textsBreakpoints($fontSize, 20pt, 35pt);
}

@media (max-width: 1800px) {

    $fontSize: 45pt;

    @include textsBreakpoints($fontSize);
}

@media (max-width: 900px) {

    $fontSize: 40pt;
    $subtractionTitleTwo: 10pt;
    $subtractionLiTitleElement: 15pt;

    @include textsBreakpoints($fontSize, $subtractionTitleTwo, $subtractionLiTitleElement);
}

@media (max-width: 640px) {

    $fontSize: 35pt;
    $subtractionTitleTwo: 10pt;
    $subtractionLiTitleElement: 15pt;

    @include textsBreakpoints($fontSize, $subtractionTitleTwo, $subtractionLiTitleElement);
}